@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	body {
		@apply overflow-x-hidden font-sans;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-display;
	}
}
